body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.tela {
  display: none;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.tela h1,
.tela h2,
.tela h3 {
  text-align: center;
  margin: 5px 0;
}

input,
button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}

input {
  width: 100%;
}

button {
  background-color: #9b59b6;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #8e44ad;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

#historico {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
  max-height: 150px;
  overflow-y: auto;
}
